.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.web-header {
  font-family: var(--secondary-font);
  color: var(--text-web-header);
  @include font(26px, 700, 1.19, 0.03em);
  text-decoration: none;
  margin-right: 93px;
}
.web-color {
  font-family: var(--secondary-font);
  color: var(--text-web-color);
  @include font(26px, 700, 1.19, 0.03em);
}
